#main-section
{
    border: 1px solid black;
    width: 400px;
    border-radius: 25px;
    height: fit-content;
    margin: 200px auto;
    padding: 5px;
}

#title
{
    font-size: 40px;
    text-align: center;
}

#input
{
    display: block;
    background-color: rgb(238, 255, 249);
    margin: 10px auto;
}

#submit
{
    margin: 0 auto;
    padding: 3px 5px;
    display: block;
}

.divContainer
{
    max-height: 300px;
    width: 380px;
    margin: 0 auto;
}

.emptyInput
{
    margin: 0 auto;
    text-align: center;
}

.titleStyle
{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 25px;
}

.partOfSpeach
{
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}

.defText
{
    font-size: 18px;
    margin: 0 auto;
}